<!-- Destacado conjunto -->
<section class="my-4 my-xl-5">
  <div class="container">
    <div class="highlighted-items-2">
      <div class="col">
        <div class="panel-vertical">
          <img
            src="../../../assets/highlighted/highlighted-1.svg"
            alt="descripción de imagen"
            class="panel-img"
          />
          <div class="panel-body">
            <h2 class="panel-title">Componentes y estilos</h2>
            <p class="panel-text">
              Elementos modulares y reutilizables para la construcción de la
              interfaz, como botones, tarjetas y navegaciones, junto con la
              documentación de colores, tipografías y grillas.
            </p>
            <div class="panel-footer">
              <a
                class="btn btn-primary btn-lg"
                href="https://gcba.github.io/Obelisco-V2/components"
                rel="noopener noreferrer"
              >
                Ir a la librería
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="panel-vertical">
          <img
            src="../../../assets/highlighted/highlighted-2.svg"
            alt="descripción de imagen"
            class="panel-img"
          />
          <div class="panel-body">
            <h2 class="panel-title">Documentación sobre Obelisco v2</h2>
            <p class="panel-text">
              Obelisco v2 busca mejorar y actualizar los componentes y estilos
              de la librería, alineándose con las últimas tendencias y
              estándares del desarrollo web.
            </p>
            <div class="panel-footer">
              <a
                class="btn btn-primary btn-lg"
                href="https://gcba.github.io/Obelisco-V2/documentation"
                rel="noopener noreferrer"
              >
                Ir a la documentación
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cajas con informacion -->
<section class="bg-light py-xl-5 py-4">
  <div class="container py-2 py-xl-0">
    <h2 class="mb-4 pb-2 fw-normal">Por qué necesitamos estándares</h2>
    <div class="max-items-2">
      <div class="col">
        <div class="d-flex gap-3">
          <span class="material-symbols-rounded" aria-hidden="true">
            dashboard_customize
          </span>
          <div>
            <h3 class="headline-md fw-bold">
              Mantenemos la consistencia en todas las plataformas
            </h3>
            <p class="mb-0">
              Ayudamos al ciudadano a reconocer todos los productos digitales de
              la Ciudad como una unidad, brindándole mayor seguridad y
              transparencia.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex gap-3">
          <span class="material-symbols-rounded" aria-hidden="true">
            schedule
          </span>
          <div>
            <h3 class="headline-md fw-bold">
              Generamos procesos de trabajo más ágiles
            </h3>
            <p class="mb-0">
              Permitimos a los equipos de diseño y desarrollo trabajar de manera
              más rápida al reutilizar componentes y estándares ya establecidos.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex gap-3">
          <span class="material-symbols-rounded" aria-hidden="true"> hub </span>
          <div>
            <h3 class="headline-md fw-bold">
              Aseguramos el cumplimiento de accesibilidad
            </h3>
            <p class="mb-0">
              Garantizamos el cumplimiento de los estándares WCAG, asegurando
              que todos los productos sean inclusivos y accesibles para personas
              con diversas capacidades.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex gap-3">
          <span class="material-symbols-rounded" aria-hidden="true">
            settings
          </span>
          <div>
            <h3 class="headline-md fw-bold">
              Brindamos flexibilidad y escalabilidad de uso
            </h3>
            <p class="mb-0">
              Con la combinación de diferentes componentes de manera flexible
              facilitamos a que las actualizaciones y cambios sean más fáciles
              de implementar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Primer Destacado Banner Descarga de UI Kit-->
<section>
  <div class="panel-horizontal-content">
    <div class="panel-horizontal">
      <div class="panel-body">
        <h2 class="panel-title">UI KIT en Figma para diseñadores</h2>
        <p class="panel-text">
          El UI KIT de Obelisco contiene los componentes y guía de estilos para
          construir prototipos de alta fidelidad y ayudar al equipo de gestión a
          visualizar el producto final.
        </p>
        <div class="panel-footer">
          <a
            class="btn btn-secondary btn-lg"
            href="../../../assets/UI KIT - Obelisco-V2.fig"
            target="_blank"
            download=""
          >
            <span class="material-symbols-rounded" aria-hidden="true"
              >file_download</span
            >
            Descargar el UI KIT en Figma
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Segundo Destacado Banner -->
<section>
  <div class="panel-horizontal-content">
    <div class="panel-horizontal">
      <div class="panel-body">
        <h2 class="panel-title">Formá parte de la comunidad</h2>
        <p class="panel-text">
          Obelisco es un sistema de código abierto que se alimenta del feedback
          constante que recibe de todas las partes que interactúen con él, ya
          sean Áreas de Gobierno, proveedores internos o externos y usuarios en
          general.
        </p>
        <div class="panel-footer">
          <p class="mb-0">
            Si querés reportar algún problema o resolver una duda, podés
            <a
              href="https://github.com/gcba/Obelisco-V2/issues"
              target="_blank"
              rel="noopener noreferrer"
              >abrir un issue en GitHub
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tercer Destacado Banner -->
<section class="pb-4 pb-xl-0">
  <div class="panel-horizontal-content">
    <div class="panel-horizontal">
      <div class="panel-body">
        <h2 class="panel-title">Conocé la resolución de Obelisco</h2>
        <p class="panel-text">
          Descargá la resolución publicada el día 17 de mayo del 2023 en el
          Boletín Oficial del Gobierno de la Ciudad de Buenos Aires.
        </p>
        <div class="panel-footer">
          <a
            class="external"
            href="../../../assets/resolucion/ck_PE-RES-MJGGC-SECITD-94-23-6626.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >Conocer la resolución</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
