<section class="hero">
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9">
          <h1 class="mb-2">
            Utilizá Obelisco, el sistema de diseño del Gobierno de la Ciudad de
            Buenos Aires
          </h1>
          <p class="text-xl hero-subtitle">
            Nuestro sistema de estándares de código abierto proporciona
            herramientas y componentes reutilizables con las que construimos
            productos digitales accesibles para la Ciudad.
          </p>
          <div class="hero-cta">
            <a href="https://gcba.github.io/Obelisco-V2/documentation" class="btn btn-lg btn-light">Conocé Obelisco v.2</a>
            <a href="https://gcba.github.io/Obelisco-V2/getting-started" class="btn btn-lg btn btn-outline-light"
              >Empezá a usar Obelisco</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
