<h2 class="sr-only">Navegación de pie de página</h2>
<footer class="main-footer">
  <div class="container">
    <section class="footer-legal-section">
      <h3 class="sr-only">Información gubernamental</h3>
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-xl-4 footer-content-img">
          <img
            class="d-lg-none"
            src="./../assets/footer/ciudad-ba-sm.svg"
            alt="Logo de Ciudad de Buenos Aires"
            height="48"
          />
          <img
            class="d-none d-lg-inline"
            src="./../assets/footer/ciudad-ba.svg"
            alt="Logo de Ciudad de Buenos Aires"
            height="40"
          />
          <img
            class="img-vamos-ba"
            src="./../assets/footer/vamos-ba.svg"
            alt="Logo de Vamos Buenos Aires"
          />
        </div>
        <div class="col-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://boletinoficial.buenosaires.gob.ar">
                Boletín oficial
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://buenosaires.gob.ar/inicio/terminos-y-condiciones"
              >
                Términos y condiciones
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://buenosaires.gob.ar/inicio/privacidad">
                Política de privacidad
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://buenosaires.gob.ar/jefedegobierno/legalytecnica/normativa/boletin-oficial-y-registro/oficios-judiciales"
              >
                Oficios judiciales
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.buenosaires.gob.ar/gobierno/transparencia">
                Transparencia
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="footer-license-text">
        Los contenidos de buenosaires.gob.ar están licenciados bajo Creative
        Commons Reconocimiento 2.5 Argentina License.
      </div>
    </section>
  </div>
</footer>
