<footer class="main-footer pb-0">
    <div class="container">
        <section class="footer-legal-section mb-4">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-xl-4 footer-content-img mb-0">
                    <img class="d-lg-none" src="./../assets/footer/ciudad-ba-sm.svg" alt="Ciudad de Buenos Aires"
                        height="48" />
                    <img class="d-none d-lg-inline" src="./../assets/footer/ciudad-ba.svg" alt="Ciudad de Buenos Aires"
                        height="40" />
                    <div class="divisor"></div>
                    <img class="img-vamos-ba" src="./../assets/footer/vamos-ba.svg" alt="Vamos Buenos Aires" />
                </div>
            </div>
        </section>
        <img class="header-logo-obelisco mb-4" src="./../assets/footer/Obelisco-logo-footer.svg"
            alt="Ciudad de Buenos Aires" />
        <section class="mb-4">
            <h4 class="mb-3">Redes de la ciudad</h4>
            <ul class="list-inline">
                <li class="list-inline-item redes-items">
                    <a href="https://github.com/gcba">
                        <i class="bx bxl-github" style="color: #ffffff"></i>Github
                    </a>
                </li>
                <li class="list-inline-item redes-items">
                    <a href="https://dribbble.com/ExperienciadigitalBA">
                        <i class="bx bxl-dribbble" style="color: #ffffff"></i>Dribbble
                    </a>
                </li>
                <li class="list-inline-item redes-items">
                    <a
                        href="https://www.linkedin.com/company/secretar%C3%ADa-de-innovaci%C3%B3n-y-transformaci%C3%B3n-digital/mycompany/">
                        <i class="bx bxl-linkedin-square" style="color: #ffffff"></i>Linkedin
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <section>
        <div class="footer-license-text bg-white py-4">
            <div class="container footer-text">
                Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento 2.5
                Argentina License.
            </div>
        </div>
    </section>
</footer>