<section class="hero mb-5">
    <div class="main-banner">
        <div class="py-5 container">
            <div class="col-12 col-md-9 py-1 py-md-0 px-0">
                <h1 class="mb-0 mb-md-5">
                    Utilizá Obelisco, el sistema de diseño del <br> Gobierno de la Ciudad de Buenos Aires
                </h1>
                <p class="text-xl mb-2">
                    Nuestro sistema de estándares de código abierto proporciona herramientas y <br>
                    componentes reutilizables con las que construimos productos digitales <br>
                    accesibles para la Ciudad.
                </p>
                <div class="hero-icons">
                    <div class="card p-3 wave-animation delay-1">
                        <span class="material-symbols-rounded"> home </span>
                    </div>
                    <div class="card p-3 wave-animation delay-2">
                        <span class="material-symbols-rounded"> unfold_more </span>
                    </div>
                    <div class="card p-3 wave-animation delay-3">
                        <span class="material-symbols-rounded"> text_increase </span>
                    </div>
                    <div class="card p-3 wave-animation delay-4">
                        <span class="material-symbols-rounded"> gps_fixed </span>
                    </div>
                    <div class="card p-3 wave-animation delay-5">
                        <span class="material-symbols-rounded"> toggle_off </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>